Driverless_car/Lane_Detection
Driverless_car/lane_detection_2020/driver_37_30frame.tar.gz
edgeai_end2end/pretrained_model/*
edgeai_infer/caffe_local/pretrained_model
edgeai_infer/tensorflow_local/pretrained_model
edgeai_parallel/pretrained_model
edgeai_parallel/records
Healthcare_ICU/Heart_Failure_Prediction
Healthcare_ICU/mimic3-benchmarks
Healthcare_ICU/mimic3lite
Healthcare_ICU/mimiclite2020/data.tar.gz
Healthcare_ICU/mimiclite2020/experiments
Healthcare_ICU/mimiclite2020/mimic3benchmark
Healthcare_ICU/mimiclite2020/mimic3models/decompensation/keras_logs
Healthcare_ICU/mimiclite2020/mimic3models/decompensation/keras_states
Healthcare_ICU/mimiclite2020/mimic3models/in_hospital_mortality/keras_logs
Healthcare_ICU/mimiclite2020/mimic3models/in_hospital_mortality/keras_states
Healthcare_ICU/mimiclite2020/mimic3models/phenotyping/keras_logs
Healthcare_ICU/mimiclite2020/mimic3models/phenotyping/keras_states
Smart_Home/facerecognition2020/dataset
Smart_Home/facerecognition2020/models
Surveillance_Camera/actionrecognition2020-master/data
Surveillance_Camera/Person_reID/Market-1501-v15.09.15



